# Git
.git
.DS_Store

# Docker
.docker
docker-compose.override.yml

# Environment variables
.env

# Django logs
django_backend/logs/
*.log

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
django_backend/media/
django_backend/staticfiles/
django_backend/.DS_Store


# vscode
.vscode/
*.swp
*.swo